# Any requirements listed here will be symlinked to /lib and deployed to
# appspot.  See requirements_dev.txt for local-only requirements.

# This will cause Flask to be installed in your venv, and then deployed with
# your app.
Flask==0.9

